<ac-layer acFor="let track of tracks$" [context]="this">
    <ac-label-desc props="{
                          text: track.name,
                          position: track.position,
                          fillColor: track.color
                          }">
    </ac-label-desc>
</ac-layer>

<div class="plonter-context-menu" [hidden]="!plonterService.plonterShown">
    <div *ngFor="let entity of plonterService.entitesToPlonter">
        <div class="plonter-item" (click)="chooseEntity(entity)">{{entity.name}}</div>
    </div>
</div>