<ac-map [sceneMode]="sceneMode" id="main-map">
  <!-- <ac-map-layer-provider
    *ngIf="appSettingsService.showMapLayer"
    [provider]="arcGisMapServerProvider"
    [options]="{
      url: 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer'
    }"
  >
  </ac-map-layer-provider> -->
  <ac-3d-tile-layer
    *ngIf="appSettingsService.show3dtiles"
    [options]="{
      url: Cesium.IonResource.fromAssetId(29328)
    }"
  >
  </ac-3d-tile-layer>
   <entities-with-arrays-example #layer [show]="true"></entities-with-arrays-example>
<!--   <html-layer-example> </html-layer-example>-->
<!--  <boxes-layer-example></boxes-layer-example>-->
<!--   <models-layer-example></models-layer-example>-->
<!--  <cylinder-layer-example></cylinder-layer-example>-->
<!--  <ellipsoid-layer-example></ellipsoid-layer-example>-->
<!--  <volume-layer-example></volume-layer-example>-->
<!--  <wall-layer-example></wall-layer-example>-->
<!--   <ellipse-layer-example #layer></ellipse-layer-example>-->
<!--    <billboard-layer-example></billboard-layer-example>-->
<!--   <label-layer-example #layer></label-layer-example>-->
<!--   <circle-layer-example #layer></circle-layer-example>-->
<!--   <polyline-layer-example #layer></polyline-layer-example>-->
<!--   <point-layer-example #layer></point-layer-example>-->
<!--   <arc-layer-example #layer></arc-layer-example>-->
<!--   <polygon-layer-example></polygon-layer-example>-->
<!--   <polygon-performance-test></polygon-performance-test> -->
<!-- <rectangle-layer-example></rectangle-layer-example>-->
<!--   <hippodrome-layer-example></hippodrome-layer-example>-->
<!--   <polyline-editor-example></polyline-editor-example>-->
<!--   <polygons-editor-example></polygons-editor-example>-->
<!-- <rectangles-editor-example></rectangles-editor-example> -->
<!--   <circles-editor-example></circles-editor-example>-->
<!--   <ellipses-editor-example></ellipses-editor-example>-->
<!--   <hippodrome-editor-example></hippodrome-editor-example>-->
<!--   <selection-layer-example></selection-layer-example>-->
<!--   <heatmap-example></heatmap-example>-->
<!--   <single-entity-on-map-example></single-entity-on-map-example>-->
<!--   <czml-layer-example></czml-layer-example>-->
<!--   <track-entity-layer></track-entity-layer>-->
<!--   <maps-provider-example></maps-provider-example>-->
<!--  <map-events-example></map-events-example>-->

  <toolbar-example></toolbar-example>
  <context-menu-layer></context-menu-layer>
  <keyboard-control-layer *ngIf="appSettingsService.keyboardControl"></keyboard-control-layer>
</ac-map>
