<div class="about">
  <div class="header">
    <img class="ac-image" src="assets/angular_cesium3.png"/>
    <span style="flex: 1; flex-wrap: wrap;">
      <span style="color: white">A</span>ngular-<span style="color: white">C</span>esium</span>
  </div>
  <div class="explaining-section">
    <div class="what-is-ac">
      Angular-Cesium is a unique web GIS infrastructure that combines the
      simplicity and convenience of Angular with the advanced graphic capabilities
      of CesiumJS and extends and improves from there.
    </div>
    <div class="title">Features</div>
<!--    <div>-->
<!--      Angular-Cesium was made with the challenge of performance and real time data-->
<!--      in mind. It allows you to easily sync with multiple data sources that push a-->
<!--      lot of data while keeping your code base clean and minimal.-->
<!--    </div>-->

    <div class="features-row">
      <div class="feature" style="margin-top: 0">
        <div class="feature-header">
          <div class="icon-box">
            <fa-icon [icon]="boltIcon" class="feature-icon"></fa-icon>
          </div>
          <div class="feature-title">High Performance</div>
        </div>
        <div class="feature-text">
          Angular-Cesium was designed to handle a lot of updates in real time.
          Angular-Cesium takes care of change detection and rendering
          orchestration very efficiently.
        </div>
      </div>
      <div class="feature" style="margin-top: 0">
        <div class="feature-header">
          <div class="icon-box">
            <fa-icon [icon]="diagramIcon" class="feature-icon"></fa-icon>
          </div>
          <div class="feature-title">Data Synchronization</div>
        </div>
        <div class="feature-text">
          Angular-Cesium enables you to sync your map with multiple live data
          sources using Rxjs. Just connect them and let Angular-Cesium do its
          magic.
        </div>
      </div>

      <div class="features-row">
        <div class="feature">
          <div class="feature-header">
            <div class="icon-box">
              <fa-icon [icon]="toolsIcon" class="feature-icon"></fa-icon>
            </div>
            <div class="feature-title">Rich Tool Set</div>
          </div>
          <div class="feature-text">
            Angular-Cesium comes packed with customizable tools like: graphics
            drawing tools, range and bearing, map events manager, multi map sync and
            more.
          </div>
        </div>

        <div class="feature">
          <div class="feature-header">
            <div class="icon-box">
              <fa-icon [icon]="cogIcon" class="feature-icon"></fa-icon>
            </div>
            <div class="feature-title">Maintainable Code</div>
          </div>
          <div class="feature-text">
            Angular-Cesium enables you to design your map and data flows using
            reusable Angular components and services that wrap (but don't hide)
            Cesium.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="title">Showcases</div>
  <div class="showcase">
    <div class="showcase-about">
      <a href="https://geo-strike.now.sh/">
        <img class="showcase-title-img" src="/assets/geostrike-logo.svg"/>
      </a>
      <div class="showcase-info">
        GeoStrike is an in-browser, georeferenced, multiplayer 3D shooting game.
        The game is built on open source libraries, standards, and
        frameworks—including Cesium, 3D Tiles, Angular, and Apollo GraphQL. The
        game is open source.
      </div>
    </div>
    <div class="showcase-images-section">
      <a href="https://geo-strike.now.sh/">
        <img class="showcase-img" src="/assets/geostrike-showcase.png"/>
      </a>
    </div>
  </div>

  <div class="showcase">
    <div class="showcase-about">
      <a
        href="https://www.datumate.com/products/datubim/"
        class="datubim-title"
      >
        DatuBIM
      </a>
      <div class="showcase-info">
        DatuBIM is an automated software-as-a-service (SaaS) cloud platform
        designed and built for infrastructure construction projects. It enables
        construction companies to monitor project progress, ensure quality, and
        control budgets based on actionable project execution metrics extracted
        from field data.
      </div>
    </div>
    <div class="showcase-images-section">
      <a href="https://www.datumate.com/products/datubim/">
        <img class="showcase-img" src="/assets/datubim-showcase1.jpg"/>
      </a>
      <a href="https://www.datumate.com/products/datubim/">
        <img class="showcase-img" src="/assets/datubim-showcase2.jpg"/>
      </a>
    </div>
  </div>
  <div class="title">Trusted by</div>
  <div class="clients-logos">
    <a href="https://webiks.com/"><img class="client-logo" src="/assets/webiks-logo.png" /></a>
    <a href="https://www.datumate.com/"><img class="client-logo" src="/assets/datumate-logo.png" /></a>
    <a href="http://www.besl.org/"><img class="client-logo" src="/assets/besl-logo.png" /></a>
    <a href="https://www.maitrox.com"><img class="client-logo" src="/assets/maitrox-logo.png" /></a>
    <a href="https://www.sofwerx.org/"><img class="client-logo" src="/assets/sofwerx-logo.png" /></a>
    <a href="https://opalsoft.com/"><img class="client-logo" src="/assets/opalsoft-logo.png" /></a>
  </div>
  <div class="made-with-love">
    Made with ❤️ by
    <a class="articode-link" href="https://articode.co">Articode</a> © 2019
  </div>
</div>
