<polylines-editor></polylines-editor>
<div class="edit-buttons">
  <button mat-raised-button (click)="startEdit()">Create Polyline</button>
  <button mat-raised-button (click)="stopEdit()">Stop Edit Polyline</button>
  <button mat-raised-button (click)="editFromExisting()">Create Polyline with default</button>
  <button mat-raised-button (click)="toggleEnableEditing()">toggle disable edit</button>
  <button mat-raised-button (click)="updatePointManually()">update polygon manually</button>
</div>
