<ac-layer #editPolylinesLayer acFor="let polyline of editPolylines$" [context]="this" [zIndex]="1">
    <ac-polyline-primitive-desc props="{
        positions: polyline.getPositions(),
        width: polyine.props.width,
        material: polyine.props.material,
    }">
    </ac-polyline-primitive-desc>
</ac-layer>

<ac-layer #editPointsLayer acFor="let point of editPoints$" [context]="this" [zIndex]="2">
    <ac-point-desc props="{
        position: point.getPosition(),
        pixelSize: getPointSize(point),
        color: point.props.color,
        outlineColor: point.props.outlineColor,
        outlineWidth: point.props.outlineWidth,
    }">
    </ac-point-desc>
</ac-layer>

