.idea/
config/
node_modules/
documentation/
docs/
demo/
.circleci/

# ignore the .ts files
src/*.ts
src/**/*.ts

# include the .d.ts files
!src/*.d.ts
!src/**/*.d.ts

# configuration files
index.ts
karma.conf.js
webpack.config.js
webpack.aot.config.js
tslint.json
tsconfig.json
tsconfig.aot.json
protractor.conf.js
rollup.config.js
npm-debug.log