<ac-layer acFor="let circle of circles$" [show]="show" [context]="this">
    <ac-static-circle
            geometryProps="{
				center: circle.staticCircle.geometry.center,
				radius: circle.staticCircle.geometry.radius,
				height: circle.staticCircle.height
			}"
            instanceProps="{
                attributes: circle.staticCircle.attributes
             }"
            primitiveProps="{
                appearance: circle.staticCircle.appearance
            }
    ">
    </ac-static-circle>
</ac-layer>