<ac-layer #editHippodromesLayer acFor="let hippodrome of editHippodromes$" [context]="this" [zIndex]="2">
    <ac-corridor-desc props="{
		positions: hippodrome.getRealPositions(),
		cornerType: Cesium.CornerType.ROUNDED,
		material: hippodrome.hippodromeProps.material,
		width : hippodrome.hippodromeProps.width
	}">
    </ac-corridor-desc>
</ac-layer>

<ac-layer #editPointsLayer acFor="let point of editPoints$" [context]="this" [zIndex]="2">
    <ac-point-desc props="{
        position: point.getPosition(),
        pixelSize: getPointSize(point),
        color: point.props.color,
        outlineColor: point.props.outlineColor,
        outlineWidth: point.props.outlineWidth,
        heightReference: Cesium.HeightReference.RELATIVE_TO_GROUND
    }">
    </ac-point-desc>
</ac-layer>
<!--<ac-layer #editArcsLayer acFor="let arc of editArcs$" [context]="this" [zIndex]="1">-->
    <!--<ac-arc-desc props="{-->
        <!--angle: arc.angle,-->
        <!--delta: arc.delta,-->
        <!--center: arc.center,-->
        <!--radius: arc.radius,-->
        <!--quality: 30,-->
        <!--color: Cesium.Color.BLACK-->
    <!--}">-->
    <!--</ac-arc-desc>-->
<!--</ac-layer>-->

