.app-container {
  display: flex;
  flex: 1;
  background-color: rgb(21, 1, 23);
  height: 100vh;
  width: 100vw;
  position: relative;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    height: auto;
    width: auto;
  }

  .map-section {
    flex: 1;
    @media only screen and (max-width: 600px) {
      height: calc(100vh - 45px);
    }
  }

  .about-section {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .about-container {
    flex: 1;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
  }
}
