.app-container {
  display: flex;
  flex: 1;
  background-color: rgb(21, 1, 23);
  height: 100vh;
  width: 100vw;
  position: relative;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    height: auto;
    width: auto;
  }

  .map-section {
    position: relative;
    flex: 1;
    @media only screen and (max-width: 600px) {
      height: calc(100vh - 45px);
    }
  }

  .about-section {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .about-container {
    flex: 1;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
  }

  .split-map-button {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 45px;
    right: 5px;
    width: 85px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(50, 50, 50, 0.7);
    color: white;
    z-index: 100;
    transition: 0.3s all;
    cursor: pointer;
    user-select: none;

    @media only screen and (max-width: 600px) {
      display: none;
    }

    &:hover {
      background: rgba(0, 100, 200, 0.7);
    }
  }
}
