@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body, .map-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

md-toolbar-row {
  flex-wrap: wrap;
  height: auto !important;
}

.divider {
  width: 99%;
  border-top: 1px solid;
  border-color: rgba(0, 0, 0, 0.12);
}
