<ac-layer #editPointsLayer acFor="let point of editPoints$" [context]="this" [zIndex]="2">
    <ac-point-desc props="{
        position: point.getPosition(),
        pixelSize: getPointSize(point),
        color: point.getPointProps().color,
        outlineColor: point.getPointProps().outlineColor,
        outlineWidth: point.getPointProps().outlineWidth,
        heightReference: Cesium.HeightReference.RELATIVE_TO_GROUND
    }">
    </ac-point-desc>
</ac-layer>

<ac-layer #editPolylinesLayer acFor="let polyline of editPolylines$" [context]="this" [zIndex]="1">
    <ac-polyline-primitive-desc props="{
        positions: polyline.getPositions(),
        width: 1,
        material: lineColor,
        followSurface: true
    }">
    </ac-polyline-primitive-desc>
</ac-layer>

<ac-layer #editPolygonsLayer acFor="let polygon of editPolygons$" [context]="this" [zIndex]="0">
    <ac-polygon-desc props="{
        hierarchy: polygon.getPositions(),
        material: polygon.polygonProps.material
    }">
    </ac-polygon-desc>
    <!--<ac-static-polygon-desc-->
    <!--geometryProps="{-->
    <!--polygonHierarchy: polygon.getHierarchy(),-->
    <!--height: 1-->
    <!--}"-->
    <!--instanceProps="{-->
    <!--attributes: attributes-->
    <!--}"-->
    <!--primitiveProps="{-->
    <!--appearance: appearance-->
    <!--}">-->
    <!--</ac-static-polygon-desc-->>-->
</ac-layer>