.settings-button {
}

.sidenav-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.map-container {
    height: 100%
}

.sidenav {
    width: 350px;
}

.fill-remaining-space {
    flex: 1 1;
}

.github{
    width: 56px;
    height: 56px;
}
@media (max-width:381px) {
    .github {
        height: 20px;
        width: 20px;
    }
}