
.sidenav-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.map-container {
    height: 100%
}

.sidenav {
    width: 260px;
}

.fill-remaining-space {
    flex: 1 1;
}

.github{
    width: 56px;
    height: 56px;
}
@media (max-width:450px) {
    md-toolbar-row{
        flex-direction: column !important;
    }
    .github {
        height: 24px;
        width: 24px;
    }

    .github-link {
        position: absolute;
        right: 5px;
        top: 0;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .settings-button {
        position: absolute !important;
        left: 5px;
        top: 0x;
    }



}