
.sidenav-container {
  position: absolute;
  display: flex !important;
  flex-direction: column;
  flex: 1 1;
  width: 100%;
  height: 100% !important;
}

.mat-sidenav-content {
  display: flex !important;
  flex-direction: column;
  flex: 1;
}

.sidenav {
  width: 300px;
}

.fill-remaining-space {
  flex: 1 1;
}

.page-footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  margin: auto;
}
.footer-text {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: white;
  color: black;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 0 10px;
}

@media (max-width:450px) {
  .footer-text-mobile {
    display: none;
  }
}


.logo-img {
  height: 30px;
  padding: 0 10px;
}
