<ac-map [enableTilt]="false" id="main-map">
    <ac-map-layer-provider *ngIf="appSettingsService.showMapLayer" [provider]="arcGisMapServerProvider"
                           [options]="{
                                url : 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer'
                            }">
    </ac-map-layer-provider>
    <tracks-layer #layer [show]="appSettingsService.showTracksLayer" [realData]="tracksRealData"></tracks-layer>
    <!--<maps-layer></maps-layer>-->
    <!--<models-layer></models-layer>-->
    <!--<dynamic-ellipse-layer #layer></dynamic-ellipse-layer>-->
    <!--<base-layer #layer></base-layer>-->
    <!--<dynamic-circle-layer #layer></dynamic-circle-layer>-->
    <!--<dynamic-polyline-layer #layer></dynamic-polyline-layer>-->
    <!--<point-layer></point-layer>-->
    <!--<event-test-layer></event-test-layer>-->
    <!--<arc-layer #layer></arc-layer>-->
    <!--<draw-on-map-layer></draw-on-map-layer>-->
    <!--<polygon-layer></polygon-layer>-->
</ac-map>