<div class="settings-form">
  <h1 class="settings-form-header">Settings</h1>
  <h2 class="settings-form-sub-header">Sim Entities</h2>
  <mat-form-field>
    <input matInput class="settings-input" placeholder="Number of entities" #entityNum="ngModel"
           [(ngModel)]="settingsService.numOfEntities" type="number" required max="5000" validateMax>
    <mat-error>Max value reached</mat-error>
  </mat-form-field>
  <div>
  </div>
  <mat-form-field>
    <input matInput class="settings-input" placeholder="Rate (ms)" #rate="ngModel"
           [(ngModel)]="settingsService.entitiesUpdateRate" type="number" required min="100" validateMin>
    <mat-error>Min value reached</mat-error>
  </mat-form-field>
  <div>
    <button mat-button [disabled]="!entityNum.valid || !rate.valid" class="ok-button" (click)="applySettings()">Ok
    </button>
  </div>
  <div class="divider setting-divider"></div>
  <h2 class="settings-form-sub-header">Layers</h2>
  <div class="layer-container">
    <mat-slide-toggle [color]="'primary'" [(ngModel)]="settingsService.showTracksLayer">Tracks Layer</mat-slide-toggle>
    <mat-slide-toggle [color]="'primary'" [(ngModel)]="settingsService.showMapLayer">Map Layer</mat-slide-toggle>
    <mat-slide-toggle [color]="'primary'" [(ngModel)]="settingsService.showVelocityVectors">Velocity Vectors
    </mat-slide-toggle>
    <mat-slide-toggle [color]="'primary'" [(ngModel)]="settingsService.show3dtiles" (change)="newYorkToggle($event)">New
      York 3D Tiles
    </mat-slide-toggle>
    <mat-slide-toggle [color]="'primary'" [(ngModel)]="settingsService.keyboardControl">Keyboard Control (W,S,A,D)
    </mat-slide-toggle>
  </div>
  <div class="divider setting-divider"></div>
  <div>
    <button mat-button [color]="'secondary'" class="ok-button" (click)="downloadScreenshot()">Take Map Screenshot
    </button>
  </div>
</div>
