
<div class="settings-form">
    <h1 class="settings-form-header">Settings</h1>
    <h2 class="settings-form-sub-header">Entities</h2>
    <md-input-container>
        <input mdInput class="settings-input" placeholder="Number of entities"
               [(ngModel)]="settingsService.numOfEntities">
    </md-input-container>
    <md-input-container>
        <input mdInput class="settings-input" placeholder="Rate (ms)"
               [(ngModel)]="settingsService.entitiesUpdateRate">
    </md-input-container>
    <div>
        <button md-button class="ok-button" (click)="applySettings()">Ok</button>
    </div>
    <div class="divider "></div>
    <h2 class="settings-form-sub-header">Layers</h2>
    <div class="layer-container">
        <md-slide-toggle [color]="'primary'" [(ngModel)]="settingsService.showTracksLayer">Tracks Layer</md-slide-toggle>
        <md-slide-toggle [color]="'primary'" [(ngModel)]="settingsService.showMapLayer">Map Layer</md-slide-toggle>
    </div>
</div>