.settings-form {
    height: 100%;
    background-color: rgba(200,200,200,0.6);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.ok-button{
    margin-top: 15px;
    background-color: white;
}

.settingForm label {
    color: white;
}

.settings-form-header{
    align-self: center;
    margin-bottom: 0px;
}

.settings-form-sub-header {
    margin: 10px 0;
}

.setting-divider {
    margin-top: 25px;
}

.layer-container{
    display: flex;
    flex-direction: column;
}