.settings-form {
    height: 100%;
    background-color: rgba(200,200,200,0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ok-button{
    margin-top: 15px;
    background-color: white;
}

.settingForm label {
    color: white;
}

.settings-form-header{
    font-style: italic;
}