<hippodrome-editor></hippodrome-editor>
<div class="edit-buttons">
    <button md-raised-button (click)="startEdit()">Create Hippodrome</button>
    <button md-raised-button (click)="stopEdit()">Stop Edit Hippodrome</button>
    <button md-raised-button (click)="editFromExisting()">Create Hippodrome with default</button>
    <button md-raised-button (click)="toggleEnableEditing()">toggle disable edit</button>
    <button md-raised-button (click)="updatePointManually()">update polygon manually</button>
</div>
