<hippodrome-editor></hippodrome-editor>
<div class="edit-buttons">
  <button mat-raised-button (click)="startEdit()">Create Hippodrome</button>
  <button mat-raised-button (click)="stopEdit()">Stop Edit Hippodrome</button>
  <button mat-raised-button (click)="editFromExisting()">Create Hippodrome with default</button>
  <button mat-raised-button (click)="toggleEnableEditing()">toggle disable edit</button>
  <button mat-raised-button (click)="updatePointManually()">update Hippodrome manually</button>
</div>
