<form class="settingForm" id="settingForm">
    <label for="numOfEntities">Number of Entities</label>
    <input id="numOfEntities" type="number" name="numOfEntities" [(ngModel)]="numOfEntities"> <br>
    <label for="collection">Number in Collection</label>
    <input id="collection" type="number" name="collection" [(ngModel)]="numOfObjectsInPart"> <br>
    <label for="interval">interval (Ms)</label>
    <input id="interval" type="number" name="interval" [(ngModel)]="interval"> <br>
    <button type="button" (click)="change()">change</button>
    <label>
        <input type="checkbox" name="isActive" (click)="show()" checked>
        Is Show
    </label>
    <p>Longitude: {{currentLongitude}}, Latitude: {{currentLatitude}}</p>
    <label>
        <input type="checkbox" name="isShowMap" (click)="updateShowMap()" checked>
        show map
    </label>
</form>
