<form class="settingForm" id="settingForm">
    <label for="numOfEntities">Number of Entities</label>
    <input id="numOfEntities" type="number" name="numOfEntities" [(ngModel)]="numOfEntities"> <br>
    <label for="interval">interval (Ms)</label>
    <input id="interval" type="number" name="interval" [(ngModel)]="interval"> <br>
    <label for="female" title="every interval a chunck of numOfEntities will be sent">Chunk</label>
    <input type="radio" name="sendOption" id="female" value="chunk" [(ngModel)]="sendOption"><br>
    <label for="other" title="recursively: one entity every interval ">One By One</label>
    <input type="radio" name="sendOption" id="other" value="oneByOne" [(ngModel)]="sendOption"><br><br>
    <button type="button" (click)="change()">change</button>
</form>