<ac-map [enableTilt]="false">
    <ac-map-layer-provider></ac-map-layer-provider>
    <!--<tracks-layer #layer></tracks-layer>-->
    <!--<tracks-layer #layer></tracks-layer>-->
    <!--<ellipse-layer></ellipse-layer>-->
    <dynamic-ellipse-layer #layer></dynamic-ellipse-layer>
    <!--<ac-static-circle-layer></ac-static-circle-layer>-->
    <!--<base-layer></base-layer>-->
    <!--<static-polyline-layer></static-polyline-layer>-->
    <!--<dynamic-circle-layer></dynamic-circle-layer>-->
    <!--<dynamic-polyline-layer #layer></dynamic-polyline-layer>-->
    <!--<event-test-layer></event-test-layer>-->
    <!--<arc-layer></arc-layer>-->
</ac-map>
<performance-form (cleanMap)="layer.removeAll();"></performance-form>
