<ac-layer acFor="let ellipse of ellipses$" [context]="this" [show]="show">
    <ac-static-ellipse-desc
        geometryProps="{
            center: ellipse.geometry.center,
            semiMajorAxis: ellipse.geometry.semiMajorAxis,
            semiMinorAxis: ellipse.geometry.semiMinorAxis,
            height: ellipse.geometry.height,
            rotation: ellipse.geometry.rotation
        }"
        instanceProps="{
            attributes: ellipse.attributes
        }"
        primitiveProps="{
            appearance: ellipse.appearance
        }"
    >
    </ac-static-ellipse-desc>
</ac-layer>