<div>

    <ac-layer acFor="let point of editPoints">
        <ac-point-desc props="{
        pdosition: point.position
    }">
        </ac-point-desc>
    </ac-layer>

    <ac-layer acFor="let polyline of editLines">
        <ac-polyline-primitive-desc props="{
       positions: polyline.positions
    }">
        </ac-polyline-primitive-desc>
    </ac-layer>

    <ac-layer acFor="let polygon of editedPolygons">
        <ac-polygon-desc props="{
            positions: polygon.positions
        }">
        </ac-polygon-desc>
    </ac-layer>

</div>