.track-dialog{
    font-family: HelveticaNeue-Light;
}

.mat-dialog-container{
    background-color: rgba(100,100,100,0.8);
}

.cdk-overlay-backdrop{
    position: initial;
}

.title{
    font-family: HelveticaNeue-Bold;
}

.dialog-line{
    margin-bottom:10px;
}

.close-button{
    background-color:white;
}