html,
body {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
}

.map-container {
  flex: 1;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

html,
body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}