<h1 class="title" md-dialog-title>Track {{(track$ | async)?.id}}</h1>
<div md-dialog-content class="track-dialog">
    <div class="dialog-line">
        Callsign: {{(track$ | async)?.callsign}}
    </div>
    <div class="dialog-line">
        Altitude: {{(track$ | async)?.alt}}
    </div>
    <div class="dialog-line">
        Heading: {{toRadians((track$ | async)?.heading)}}&deg;
    </div>
</div>
<div md-dialog-actions>
    <button class="close-button"  md-raised-button (click)="dialogRef.close()">Close</button>
</div>