
.mat-dialog-container {
    background-color: rgba(255, 255, 255, 0.8);
}

.cdk-overlay-backdrop {
    position: initial;
}

.dialog-line {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    min-width: 350px;
}

.dialog-line label {
    flex: 1;
    font-weight: 300;
}

.dialog-line span {
    flex: 2;
}

.close-button {
    align-self: flex-end;
    background-color: white;
}

.title {
    margin: 0 0 5px;
}

.modal-divider {
    margin-bottom: 10px;
    margin-right: 20px;
}

.track-dialog {
    font-size: 18px;
}

.dialog-actions {
    justify-content: flex-end;
}
