
.mat-dialog-container{
    background-color: rgba(100,100,100,0.8);
}

.cdk-overlay-backdrop{
    position: initial;
}

.dialog-line{
    margin-bottom:10px;
}

.close-button{
    background-color:white;
}