<h1 class="title" matDialogTitle>Track {{track?.id}}</h1>
<div class="divider modal-divider"></div>

<mat-dialog-content mat-dialog-content class="track-dialog">
  <div class="dialog-line">
    <label>Callsign:</label>
    <span>{{track?.callsign}}</span>
  </div>
  <div class="dialog-line">
    <label>Location:</label>
    <span>
            {{track?.position?.lat}}&deg;<small><i>lat</i></small> {{track?.position?.long}}&deg;<small><i>long</i></small>
        </span>
  </div>
  <div class="dialog-line">
    <label>Altitude:</label>
    <span>
            {{track?.position?.alt?.toFixed(0)}} <small><i>feet</i></small>
        </span>
  </div>
  <div class="dialog-line">
    <label>Heading:</label>
    <span>{{toDegrees(track?.heading)}}&deg;</span>
  </div>
  <div *ngIf="data.realData">
    <div class="dialog-line">
      <label>From:</label>
      <span [matTooltip]="track?.from">{{fixTextSize(track?.from)}}</span>
    </div>
    <div class="dialog-line">
      <label>To:</label>
      <span [matTooltip]="track?.to">{{fixTextSize(track?.to)}}</span>
    </div>
    <div class="dialog-line">
      <label>Type: </label>
      <span>{{track?.type}}</span>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
  <button class="action-button track-button" mat-raised-button (click)="trackEntityFn()">Follow Entity</button>
  <button class="action-button" matDialogClose mat-raised-button>Close</button>
</mat-dialog-actions>
