<h1 class="title" md-dialog-title>Track {{track?.id}}</h1>
<div class="divider modal-divider"></div>

<md-dialog-content md-dialog-content class="track-dialog">
    <div class="dialog-line">
        <label>Callsign:</label>
        <span>{{track?.callsign}}</span>
    </div>
    <div class="dialog-line">
        <label>Location:</label>
        <span>
            {{track?.position?.lat}}&deg;<small><i>lat</i></small> {{track?.position?.long}}&deg;<small><i>long</i></small>
        </span>
    </div>
    <div class="dialog-line">
        <label>Altitude:</label>
        <span>
            {{track?.position?.alt?.toFixed(0)}} <small><i>feet</i></small>
        </span>
    </div>
    <div class="dialog-line">
        <label>Heading:</label>
        <span>{{toDegrees(track?.heading)}}&deg;</span>
    </div>
    <div *ngIf="data.realData">
        <div class="dialog-line" >
            <label>From:</label>
            <span [mdTooltip]="track?.from">{{fixTextSize(track?.from)}}</span>
        </div>
        <div class="dialog-line">
            <label>To:</label>
            <span [mdTooltip]="track?.to">{{fixTextSize(track?.to)}}</span>
        </div>
        <div class="dialog-line">
            <label>Type: </label>
            <span >{{track?.type}}</span>
        </div>
    </div>
</md-dialog-content>

<md-dialog-actions class="dialog-actions">
    <button class="close-button" md-dialog-close md-raised-button>Close</button>
</md-dialog-actions>