<ac-layer #layer acFor="let track of tracks$" [show]="showTracks" [context]="this">
    <ac-billboard-desc props="{
              image: track.image,
              position: track.position,
              scale: track.scale,
              color: track.color,
              name: track.name
            }">
    </ac-billboard-desc>
    <ac-label-desc props="{
    position: track.position1,
    pixelOffset : [10,10] | pixelOffset,
    text:'abcdefg'
    }">
    </ac-label-desc>
    <ac-label-desc props="{
    position: track.position1,
    pixelOffset : [12,12] | pixelOffset,
    text:'dfgdfgd'
  }">
    </ac-label-desc>
    <ac-label-desc props="{
    position: track.position1,
    pixelOffset : [13,13] | pixelOffset,
    text:'hyhty'
  }">
    </ac-label-desc>
    <ac-label-desc props="{
    position: track.position1,
    pixelOffset : [14,14] | pixelOffset,
    text:'juyjyuj'
  }">
    </ac-label-desc>
    <!--<ac-billboard-desc props="{-->
    <!--image: track.image,-->
    <!--position: track.position1,-->
    <!--scale: track.scale,-->
    <!--color: track.color1,-->
    <!--name: track.name,-->
    <!--pixelOffset : [22,42] | pixelOffset-->
    <!--}">-->
    <!--</ac-billboard-desc>-->
    <!--<ac-billboard-desc props="{-->
    <!--image: track.image,-->
    <!--position: track.position1,-->
    <!--scale: track.scale,-->
    <!--color: track.color1,-->
    <!--name: track.name,-->
    <!--pixelOffset : [12,12] | pixelOffset-->
    <!--}">-->
    <!--</ac-billboard-desc>-->
    <!--<ac-billboard-desc props="{-->
    <!--image: track.image,-->
    <!--position: track.position1,-->
    <!--scale: track.scale,-->
    <!--color: track.color1,-->
    <!--name: track.name,-->
    <!--pixelOffset : [61,42] | pixelOffset-->
    <!--}">-->
    <!--</ac-billboard-desc>-->
    <!--<ac-billboard-desc props="{-->
    <!--image: track.image,-->
    <!--position: track.position1,-->
    <!--scale: track.scale,-->
    <!--color: track.color1,-->
    <!--name: track.name,-->
    <!--pixelOffset : [91,11] | pixelOffset-->
    <!--}">-->
    <!--</ac-billboard-desc>-->
    <!--<ac-billboard-desc props="{-->
    <!--image: track.image,-->
    <!--position: track.position1,-->
    <!--scale: track.scale,-->
    <!--color: track.color1,-->
    <!--name: track.name,-->
    <!--pixelOffset : [21,1] | pixelOffset-->
    <!--}">-->
    <!--</ac-billboard-desc>-->
    <!--<ac-billboard-desc props="{-->
    <!--image: track.image,-->
    <!--position: track.position1,-->
    <!--scale: track.scale,-->
    <!--color: track.color1,-->
    <!--name: track.name,-->
    <!--}">-->
    <!--</ac-billboard-desc>-->
    <!--<ac-billboard-desc props="{-->
    <!--image: track.image,-->
    <!--position: track.position1,-->
    <!--scale: track.scale,-->
    <!--color: track.color1,-->
    <!--name: track.name,-->
    <!--pixelOffset : [1,41] | pixelOffset-->
    <!--}">-->
    <!--</ac-billboard-desc>-->
    <!--<ac-billboard-desc props="{-->
    <!--image: track.image,-->
    <!--position: track.position1,-->
    <!--scale: track.scale,-->
    <!--color: track.color1,-->
    <!--name: track.name,-->
    <!--pixelOffset : [71,1] | pixelOffset-->
    <!--}">-->
    <!--</ac-billboard-desc>-->
    <!--<ac-billboard-desc props="{-->
    <!--image: track.image,-->
    <!--position: track.position1,-->
    <!--scale: track.scale,-->
    <!--color: track.color1,-->
    <!--name: track.name,-->
    <!--pixelOffset : [61,1] | pixelOffset-->
    <!--}">-->
    <!--</ac-billboard-desc>-->
</ac-layer>
<ac-layer #layer2 acFor="let track of Polylinetracks$" [show]="showPolylineTracks" [context]="this">
    <ac-dynamic-polyline-desc props="{
                           width : track.width,
                           positions: track.positions,
                           material: track.material
                          }"></ac-dynamic-polyline-desc>
</ac-layer>
