<ac-layer acFor="let track of tracks$" [show]="showTracks" [context]="this">
    <ac-billboard-desc props="{
              image: track.image,
              position: track.position,
              color: getTrackColor(track),
              scale: 0.1,
              name: track.name,
              rotation: track.heading
            }">
    </ac-billboard-desc>
    <ac-label-desc props="{
            position: track.position,
            pixelOffset : [-15,20] | pixelOffset,
            text: track.name,
            font: '15px sans-serif',
            fillColor: getTextColor(track)
    }">
    </ac-label-desc>
    <ac-label-desc props="{
            position: track.position,
            pixelOffset : [-15,35] | pixelOffset,
            text: track.altitude.toString(),
            font: '15px sans-serif',
            fillColor: getTextColor(track)
    }">
    </ac-label-desc>
</ac-layer>