<ac-toolbar [allowDrag]="true">
    <ac-toolbar-button matTooltip="Home" matTooltipPosition="right"
                       [iconUrl]="'assets/home-icon.svg'"
                       (onClick)="goHome()">
    </ac-toolbar-button>
    <ac-toolbar-button matTooltip="Range And Bearing" matTooltipPosition="right"
                       [iconUrl]="'assets/ruler.svg'"
                       (onClick)="createRangeAndBearing()">
    </ac-toolbar-button>
    <ac-toolbar-button matTooltip="Zoom To Rectangle" matTooltipPosition="right"
                       [iconUrl]="'assets/select.svg'"
                       (onClick)="zoomToRectangle()">
    </ac-toolbar-button>
    <range-and-bearing #rangeAndBearing></range-and-bearing>
</ac-toolbar>