<ac-toolbar [allowDrag]="true">
    <ac-toolbar-button matTooltip="Home" matTooltipPosition="right"
                       [iconUrl]="'assets/home-icon.svg'"
                       (onClick)="goHome()">
    </ac-toolbar-button>
    <ac-toolbar-button matTooltip="Range And Bearing" matTooltipPosition="right"
                       [iconUrl]="'assets/explore-icon.svg'"
                       (onClick)="rangeAndBearing()">
    </ac-toolbar-button>
    <polylines-editor></polylines-editor>
</ac-toolbar>